/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer components {
  .dashboard-item {
  @applyy flex items-center;
  @apply bg-gray-100 text-gray-700;
  @apply px-1 py-4 md:px-4 md:py-2;
  @apply transition-colors hover:bg-gray-300;
  }

  .h1 {
    @apply text-2xl font-bold;
  }

  .h2 {
      @apply text-lg font-semibold;
    }

  .button-group {
    @apply flex flex-row justify-center gap-1 mt-2;
  }
}

.google_translate {
  @apply fixed pt-16 right-2 z-30;

  .goog-logo-link{
    display:none !important;
   }

  .goog-te-combo {
    padding: 0.5rem;
    color:rgb(100 116 139);
    border-radius:0.375rem;
    width:6rem;

    @media (min-width: 768px) {
      width: 100%;
    }
  }

  .goog-te-gadget{
    color:transparent!important;
  }

  .VIpgJd-ZVi9od-l4eHX-hSRGPd{
    z-index: 9724790009779!important;
    top:0;
    left:unset;
    right:-5px;
    display:none!important;
    border-radius:50%;
    border:2px solid gold;
  }
}
